body {
    font-family: Arial;
    text-align: center;
    margin-top: 60px;
    background-color: #f4f4f4;
}

input {
    padding: 10px;
    width: 180px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
}

#result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}